
  <h1>Number of People</h1>
  <div class='container'>
    <form method="post" action = "/" >
      <input type='text' name='users' placeholder='no of users'>
       <h2>Number of Items</h2>
      <input type='text' name='items' placeholder='no of items'>
      <button class='btn btn-default'>Submit</button>
    </form>
  </div>
