
  <h1>Enter Number of people and Items</h1>

  <div class='container'>
    <form method="post" action = "/" >
      <input type='text' name='users' placeholder='no of users'>
      <input type='text' name='items' placeholder='no of items'>
      <button class='btn btn-default'>Submit</button>
    </form>
  </div>
